// -----------------------------
// Variables et surcharge Bootstrap
// Ce fichier contient les variables de thème personnalisées et importe
// Bootstrap SCSS. Conserver les variables modifiables en haut.
// -----------------------------

// Je définis ici la palette principale utilisée par les composants.
$primary: #906427;
$secondary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$danger: #b64532;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Je peux ajouter du code spécifique après avoir chargé Bootstrap.